/* Estilos para la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #555;
  }
  
/* Estilos para la lista de productos */
#product-list {
    list-style: none;
    padding: 0;
    display: flex; /* Cambiamos la presentación a flexbox */
    flex-wrap: wrap; /* Permitimos que las tarjetas se envuelvan cuando no haya suficiente espacio */
    justify-content: space-between; /* Distribuye las tarjetas horizontalmente */
  }
  
  #product-list li {
    flex: 0 0 calc(30% - 20px); /* Establecemos el ancho de las tarjetas y dejamos un pequeño espacio entre ellas */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Ajusta otros estilos según tus preferencias */
  }
  
  /* Estilos para el contenido de las tarjetas */
  #product-list div {
    text-align: center;
  }
  
  /* Estilos para las imágenes */
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  /* Estilos para el carrito de compras */
  #cart {
    list-style: none;
    padding: 0;
  }
  
  #cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #cart button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #cart button:hover {
    background-color: #d32f2f;
  }
  
  /* Estilos para el botón de compra */
  #checkout {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #checkout:hover {
    background-color: #388e3c;
  }
  
  /* Estilos para la información de compra */
  #purchase-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para imágenes */
  img {
    max-width: 100%;
    height: auto;
  }
  